body{
    background-image: url('./img/pexels-aphiwat-chuangchoem-359989.jpg') ;
    /* background-position: right bottom ; */
    background-size:cover;    
    background-repeat: no-repeat;
    
    background-color: rgb(67, 67, 126);

}

.heading{
    margin-top: 10% !important; 
    text-align: center;
    color: white;
    text-shadow: 2px 2px lightblue;
    font-size: larger;
}
.container{
    border-radius: 4px;
    text-align: center;
    font-size: xx-large;
    color: white;
    text-shadow: 1px 1px lightblue;
    box-shadow: 6px 6px 18px 18px white;
    /* display: flex;
    align-items: center; */
    /* border: 2px solid black; */
    padding: 42px;
    margin: 12px 345px 12px 392px;




}